footer {
    height: 60px;
    position: relative;
    border-top: 1px solid #e5e5e5;
}

footer .start_menu_area {
    display: none;
}

footer .navbar {
    box-shadow: none;
    height: 60px;
}

footer ul {
    width: 100%;
}

@media (max-width: 680px) {
    footer .navbar {
        box-shadow: none;
        height: 60px;
    }
      
  }